@page "/Auth/CheckEmail"

<PageTitle>Check Your Email</PageTitle>

<p>We’ve sent a verification link to your email address. Please check your inbox (and spam folder) and click on the link to verify your account.</p>
