@implements IDisposable
@inject IJSRuntime JSRuntime

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jobify</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <!-- Expandable Nav Item -->

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employer/createjob">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Job
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employer/deletejob">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Delete Job
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employer/editjob">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Edit Job
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user/internship-offers">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Internship Offers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students/internship-listing">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Internships
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students/dashboard">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> S Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employers/dashboard">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> E Dashboard
            </NavLink>
        </div>

         <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
@*                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Auth/Login">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div> *@
            </NotAuthorized>
        </AuthorizeView> 
    </nav>
</div>

@code {
    private string? currentUrl;
    private bool isSubMenuVisible = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void ToggleSubMenu()
    {
        isSubMenuVisible = !isSubMenuVisible;
        Console.WriteLine("Clicked");
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

